In [1]:
import nbimporter

import numpy as np
import pandas as pd
from Environment import Environment

Importing Jupyter notebook from Environment.ipynb

In [3]:
## Initialization: Creation of the Environment where n represent nxn grid
Environment(3)

rubbish:
   0  1  2
0  4  1  3
1  3  4  1
2  0  1  2
sea_creature:
   0  1  2
0  2  0  2
1  0  0  0
2  0  2  2
   location_x  location_y  rubbish  sea_creatures
0           0           0        4              2
1           0           1        1              0
2           0           2        3              2
3           1           0        3              0
4           1           1        4              0
5           1           2        1              0
6           2           0        0              0
7           2           1        1              2
8           2           2        2              2

   location_x  location_y  rubbish  sea_creatures
0           0           0        4              2
1           0           1        1              0
2           0           2        3              2
3           1           0        3              0
4           1           1        4              0
5           1           2        1              0
6           2           0        0              0
7           2           1        1              2
8           2           2        2              2

In [ ]:
#Simple Robot Exploration